#fortune-cookie-text{
	border: 5px solid lightgrey;
	width:30px;
	height:90px;
	margin-right:;
	margin-left:;
	margin-top:;
	margin-bottom:;
	position
}

#previous-fortunes{
	border: 5px solid lightgrey;
	width:43px;
	height:83px;
	margin-right:;
	margin-left:;
	margin-top:;
	margin-bottom:;
	position
}