#fortune-cookie-text{
	border: 5px solid #80bfff;
	width:300px;
	height:90px;
	margin:20px 40%;
	margin-bottom:12%;
	position:relative;
	font:italic bold 150% Georgia, serif;
}

#buttonGenerator{
	margin-left:27%;
	margin-top:10%;
	width:50%;
	position:relative;
	border:2px solid #4CAF50;
	font-size:400%;
	background-color:#4CAF50; 
	font:italic bold 400% Georgia, serif;
}

#previous-fortunes{
	border: 5px solid #33ff77;
	width:33.8%;
	height:50%;
	margin-left:34.7%;
	margin-bottom:;
	position:relative;

}

body{
	background-color:#ff3333;
	animation: strobe infinite;
	animation-duration: 1.5s;
}		

@keyframes strobe {
    from {background-color:#ff3333;}
    to {background-color:#66ff66;}
    to {background-color:#4dd2ff;}
}

#TITLE{
	margin:auto;
	position:relative;
	margin-left:28%;
	font:italic bold 100% Georgia, serif;
};
}
